<span style="color:orange">
 <h2> Databircks-Assignemnt 2 (Basic Data Cleaning Transformation)
</span>
  <h5>
    <span style="color:red">
<b>Author: Deepak Goyal <br>
   <a> adeus.azurelib.com </a><br>
   Email at: admin@azurelib.com
</span>

<b> Find the count of duplicate employee records in the input file (based on id)?

In [0]:
# Write your code using the Spark Function
from pyspark.sql.functions import *
df = spark.read.csv("dbfs:/FileStore/EmployeeData_yMCQAbYLYU.csv", header=True, inferSchema=True)
#aggregate functions ignores NULL values
df1 = df.groupBy(df.id).agg(count(df.id).alias('cnt'))
df1.filter(df1.cnt > 1).show()

+---+---+
| id|cnt|
+---+---+
+---+---+

<b> Find out how many records have Gender value missing.

In [0]:
# Write your code using the Spark Function
df2 = df.filter('gender is null').count()
display(df2)

28

d
<b> Are there any missing values in the "bonus" field? If so, filled them defualt bonus 100.

In [0]:
# Write your code using the Spark Function
## Transformation always takes new memory space
df2 = df.withColumn('bonus_updated', when(col('bonus').isNull(),100).otherwise(col('bonus')))
df2.drop('bonus').withColumnRenamed('bonus_updated','bonus').show()

+---+----------+---------+--------------------+------+------+-------------------+--------+
| id|first_name|last_name|               email|gender|salary|       creationDate|   bonus|
+---+----------+---------+--------------------+------+------+-------------------+--------+
|  1|    Valene|   Ingley|vingley0@livejour...|Female| 44104|1957-09-09 16:44:40|   100.0|
|  2|  Lynnelle|    Hurll| lhurll1@answers.com|Female|112411|1907-05-10 17:38:56|   100.0|
|  3|   Miranda|    Train|   mtrain2@imgur.com|Female| 91073|1941-01-24 16:05:23|12875.54|
|  4|    Dulsea|     Foss|dfoss3@dagondesig...|Female|193291|1942-05-09 20:59:39|   100.0|
|  5|    Anatol|  Dunklee| adunklee4@google.de|  Male| 22175|1950-07-26 16:28:00| 1432.12|
|  6|     Baily|   Antony| bantony5@sfgate.com|  Male|127337|1913-10-14 11:25:33|   100.0|
|  7|    Eunice|   Cardus|ecardus6@scientif...|Female|136574|1901-11-02 15:09:47|38676.94|
|  8|  Aubrette|  Lippett| alippett7@nifty.com|Female|165713|1919-12-16 08:20:42|60150.66|
|  9|   Sibylla|Sickamore|ssickamore8@faceb...|Female|107243|2020-03-15 15:00:30|   100.0|
| 10|      null|   Altree|paltree9@dropbox.com|Female|197594|1975-06-21 23:27:12|72533.37|
| 11|      Coop|    Richt|   crichta@sogou.com|  Male| 19964|1939-02-13 16:18:24|56973.41|
| 12|  Giuseppe|  Scimoni|gscimonib@craigsl...|  Male|176531|1967-04-06 07:23:03|   100.0|
| 13|    Lovell|  Iorizzo|liorizzoc@cpanel.net|  Male|189150|1949-06-06 16:25:20| 41474.8|
| 14|       Deb|    Mogra|   dmograd@bbc.co.uk|Female|197829|1997-07-27 14:55:52|46528.57|
| 15|  Hastings| Jelliman|hjellimane@histat...|  Male|179296|1915-07-05 07:02:06|80194.64|
| 16|     Josee|   Burnep|    jburnepf@php.net|  null| 78569|1923-11-08 20:59:14|88925.13|
| 17|     Gilly|   Fownes|gfownesg@redcross...|Female|  2527|1946-07-30 21:10:57|   100.0|
| 18|      null|Schruyers|lschruyersh@desde...|  Male|109936|1979-06-16 01:12:48|37243.09|
| 19|     Maris|Chatelain| mchatelaini@unc.edu|Female|190047|2008-01-11 17:16:21|76469.65|
| 20|    Casper|  Aughtie|    caughtiej@vk.com|  Male| 38689|1982-04-06 05:13:49| 80404.8|
+---+----------+---------+--------------------+------+------+-------------------+--------+
only showing top 20 rows

d
<b> Are there any employees with negative salary or bonus amounts in the input file? If so, how many?

In [0]:
# Write your code using the Spark Function
df.filter((df.salary < 0) | (df.bonus < 0)).count()

0

d
<b> Replace all the null/emtpy value in email column with admin@azurelib.com

In [0]:
# Write your code using the Spark Function
df.fillna("admin@azurelib.com",['email']).show()

+---+----------+---------+--------------------+------+------+-------------------+--------+
| id|first_name|last_name|               email|gender|salary|       creationDate|   bonus|
+---+----------+---------+--------------------+------+------+-------------------+--------+
|  1|    Valene|   Ingley|vingley0@livejour...|Female| 44104|1957-09-09 16:44:40|    null|
|  2|  Lynnelle|    Hurll| lhurll1@answers.com|Female|112411|1907-05-10 17:38:56|    null|
|  3|   Miranda|    Train|   mtrain2@imgur.com|Female| 91073|1941-01-24 16:05:23|12875.54|
|  4|    Dulsea|     Foss|dfoss3@dagondesig...|Female|193291|1942-05-09 20:59:39|    null|
|  5|    Anatol|  Dunklee| adunklee4@google.de|  Male| 22175|1950-07-26 16:28:00| 1432.12|
|  6|     Baily|   Antony| bantony5@sfgate.com|  Male|127337|1913-10-14 11:25:33|    null|
|  7|    Eunice|   Cardus|ecardus6@scientif...|Female|136574|1901-11-02 15:09:47|38676.94|
|  8|  Aubrette|  Lippett| alippett7@nifty.com|Female|165713|1919-12-16 08:20:42|60150.66|
|  9|   Sibylla|Sickamore|ssickamore8@faceb...|Female|107243|2020-03-15 15:00:30|    null|
| 10|      null|   Altree|paltree9@dropbox.com|Female|197594|1975-06-21 23:27:12|72533.37|
| 11|      Coop|    Richt|   crichta@sogou.com|  Male| 19964|1939-02-13 16:18:24|56973.41|
| 12|  Giuseppe|  Scimoni|gscimonib@craigsl...|  Male|176531|1967-04-06 07:23:03|    null|
| 13|    Lovell|  Iorizzo|liorizzoc@cpanel.net|  Male|189150|1949-06-06 16:25:20| 41474.8|
| 14|       Deb|    Mogra|   dmograd@bbc.co.uk|Female|197829|1997-07-27 14:55:52|46528.57|
| 15|  Hastings| Jelliman|hjellimane@histat...|  Male|179296|1915-07-05 07:02:06|80194.64|
| 16|     Josee|   Burnep|    jburnepf@php.net|  null| 78569|1923-11-08 20:59:14|88925.13|
| 17|     Gilly|   Fownes|gfownesg@redcross...|Female|  2527|1946-07-30 21:10:57|    null|
| 18|      null|Schruyers|lschruyersh@desde...|  Male|109936|1979-06-16 01:12:48|37243.09|
| 19|     Maris|Chatelain| mchatelaini@unc.edu|Female|190047|2008-01-11 17:16:21|76469.65|
| 20|    Casper|  Aughtie|    caughtiej@vk.com|  Male| 38689|1982-04-06 05:13:49| 80404.8|
+---+----------+---------+--------------------+------+------+-------------------+--------+
only showing top 20 rows

d
<b> Remove all the records where any record has any null values. Find out the total count of the records now.

In [0]:
# Write your code using the Spark Function
##function to be inclosed in ()
df.dropna().show()

+---+----------+-----------+--------------------+------+------+-------------------+--------+
| id|first_name|  last_name|               email|gender|salary|       creationDate|   bonus|
+---+----------+-----------+--------------------+------+------+-------------------+--------+
|  3|   Miranda|      Train|   mtrain2@imgur.com|Female| 91073|1941-01-24 16:05:23|12875.54|
|  5|    Anatol|    Dunklee| adunklee4@google.de|  Male| 22175|1950-07-26 16:28:00| 1432.12|
|  7|    Eunice|     Cardus|ecardus6@scientif...|Female|136574|1901-11-02 15:09:47|38676.94|
|  8|  Aubrette|    Lippett| alippett7@nifty.com|Female|165713|1919-12-16 08:20:42|60150.66|
| 11|      Coop|      Richt|   crichta@sogou.com|  Male| 19964|1939-02-13 16:18:24|56973.41|
| 13|    Lovell|    Iorizzo|liorizzoc@cpanel.net|  Male|189150|1949-06-06 16:25:20| 41474.8|
| 14|       Deb|      Mogra|   dmograd@bbc.co.uk|Female|197829|1997-07-27 14:55:52|46528.57|
| 15|  Hastings|   Jelliman|hjellimane@histat...|  Male|179296|1915-07-05 07:02:06|80194.64|
| 19|     Maris|  Chatelain| mchatelaini@unc.edu|Female|190047|2008-01-11 17:16:21|76469.65|
| 20|    Casper|    Aughtie|    caughtiej@vk.com|  Male| 38689|1982-04-06 05:13:49| 80404.8|
| 22|     Becki|      Conry|bconryl@examiner.com|Female| 10203|2003-02-07 10:00:05|47067.23|
| 23|      Edie|      Orniz|eornizm@moonfruit...|Female| 81920|1982-10-03 14:48:25|20019.85|
| 24|   Sharity|     Fronks|sfronksn@economis...|Female|169527|1951-06-14 19:32:49| 4960.71|
| 25|     Vally|   Dahlberg|vdahlbergo@dyndns...|Female| 80628|1924-07-07 06:20:37|60914.52|
| 26|     Effie|Maffioletti|emaffiolettip@pos...|Female| 34228|1986-03-23 12:03:27|31496.73|
| 31|    Blayne|  Yuranovev|byuranovevu@blogt...|  Male|188551|1998-07-27 11:30:51|27111.81|
| 32|      Maud|     Formby|mformbyv@macromed...|Female|182359|1964-08-24 11:02:47|77984.03|
| 37|    Maggee|     Rablin|mrablin10@mashabl...|Female|134344|2004-10-08 01:50:46|60163.15|
| 38|     Nikki|    Woolner|nwoolner11@linked...|Female|  3792|1942-05-13 12:11:21|21054.48|
| 40|    Farlee|    Fincken|ffincken13@google...|  Male|126873|1937-06-14 23:34:30|58907.18|
+---+----------+-----------+--------------------+------+------+-------------------+--------+
only showing top 20 rows